(% load static %)
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="estilos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&display=swap" rel="stylesheet">
    <title style="justify-content:center">Litorales Creaciones</title>
  </head>

  <body>
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg" style="background-color:midnightblue">
      <div class="container-fluid">
        <a class="navbar-brand" class="fs-3">Litorales Creaciones <img id="logo" src="media/logo1.jpg" alt="logoL"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tecnicas.html">Técnicas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="galeria.html">Galería</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="catalogo.html">Catálogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="carro.html">Carro</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Ingresar</a>
              
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <h1 class="titulo1">Tienda</h1>
    <div class="div-imagen-fondo">
      <div class="container">



        <!-- Cuadernos de Cianotipia -->
        <h5>Cuadernos de Cianotipia</h5>
      </div>
      <!-- MODAL -->
      <div class="container-img">
        <div class="row">
          <div class="col-md-4">
            <img
              src="media/cianotipia1.jpg"
              class="rounded float-start"
              data-bs-toggle="modal"
              data-bs-target="#modalImg1"
              alt="cianotipia1"
            />
            <!-- Modal 1-->
            <div
              class="modal fade"
              id="modalImg1"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Cuaderno Cianotipiado Medio
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    CIANOTIPIA MEDIANOS:
                    <li>80 páginas</li>
                    <li>Tamaño 12x18 cm</li>
                    <li>
                      Hojas blancas tipo croquis o con trama de puntos impresas
                      en risografía en azul y rosa flúor
                    </li>
                    <li>Incluye hoja de guarda</li>
                    <li>Encuadernación con cadeneta.</li>
                    <div style="float: right; padding-right: 20px">
                      Valor: $5.000
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <img
              src="media/cianotipia18.jpg"
              class="img-fluid"
              data-bs-toggle="modal"
              data-bs-target="#modalImg2"
              alt="cianotipia1"
            />
            <!-- Modal 2-->
            <div
              class="modal fade"
              id="modalImg2"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Cuaderno con tapa en Cianotipia y encuadernación Copta.
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      50 hojas / 100 páginas tamaño ½ carta(uno en papel
                      reciclado y el otro intercalado entre papel hilado
                      (blanco) y Bond Ahuesado)
                    </li>
                    <li>
                      La Encuadernación Copta te permite abrir el cuaderno
                      completamente en 180° (incluso más), no molesta al
                      escribir ni dibujar.
                    </li>
                    <div style="float: right; padding-right: 20px">
                      Valor: $5.000
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <img
              src="media/cianotipia17.jpg"
              class="rounded"
              data-bs-toggle="modal"
              data-bs-target="#modalImg3"
              alt="cianotipia1"
            />
            <!-- Modal 3-->
            <div
              class="modal fade"
              id="modalImg3"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Cuaderno con tapa en Cianotipia
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      Encuadernación copta con papel reciclado en su interior.
                    </li>
                    <li>140 páginas de tamaño ½ carta.</li>
                    <li>
                      Incluye postal(realizada en esta técnica fotográfica
                      artesanal).
                    </li>
                    <div style="float: right; padding-right: 20px">
                      Valor: $6.000
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ENCUADERNACION FRANCESA -->

      <div class="container">
        <h5>Cuadernos Tapa Dura - Encuadernación Francesa</h5>
      </div>
      <!-- MODAL -->
      <div class="container-img">
        <div class="row">
          <div class="col-md-4">
            <img
              src="media/cianotipia5.jpg"
              class="rounded float-start"
              data-bs-toggle="modal"
              data-bs-target="#modalEFrancesa1"
              alt="Encuadernación Francesa 1"
            />
            <!-- Modal 1-->
            <div
              class="modal fade"
              id="modalEFrancesa1"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Encuadernación Francesa
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      Portada en tapa dura, forradas con Cianotipia y Cartulina
                      Gofrada de 235 gr
                    </li>
                    <li>
                      Lomo flexible, puede abrirse el 180º especial para
                      personas zurdas
                    </li>
                    <li>
                      Interior en Bond Ahuesado de 80 gr, 100 hojas/200 páginas.
                    </li>
                    <li>
                      Hojas del interior disponibles en blanco y en trama de
                      puntos impreso en risografía (rosa flúor y azul).
                    </li>
                    <li>Tamaño: 13x18 cm (mediano-grande).</li>
                    <li>Encuadernación francesa expuesta con cintas.</li>
                    <div style="float: right; padding-right: 20px">
                      Valor: $12.000
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <img
              src="media/cianotipia22.jpg"
              class="img-fluid"
              data-bs-toggle="modal"
              data-bs-target="#modalEFrancesa2"
              alt="Encuadernación Francesa "
            />
            <!-- Modal 2-->
            <div
              class="modal fade"
              id="modalEFrancesa2"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Cuaderno con tapa en Cianotipia y encuadernación Copta.
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Molestiae, pariatur veritatis debitis est quo, adipisci
                      nihil sint similique, magni facere laborum saepe ad
                      quibusdam facilis aperiam officia dignissimos quod.
                      Deserunt!
                    </li>
                    <div style="float: right; padding-right: 20px">
                      Valor: $12.000
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <img
              src="media/cianotipia14.jpg"
              class="rounded"
              data-bs-toggle="modal"
              data-bs-target="#modalEFrancesa3"
              alt="Encuadernación Francesa 3"
            />
            <!-- Modal 3-->
            <div
              class="modal fade"
              id="modalEFrancesa3"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Cuaderno con tapa en Cianotipia
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <br />
                    <div style="float: right; padding-right: 20px">
                      Valor: $6.000
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CIANOTIPIA EN TELA -->

      <div class="container">
        <h5>Cianotipia en Tela</h5>
      </div>
      <!-- MODAL -->
      <div class="container-img">
        <div class="row">
          <div class="col-md-6">
            <img
              src="media/cianotipia23.jpg"
              class="rounded float-start"
              data-bs-toggle="modal"
              data-bs-target="#CianotipiaTela1"
              alt="Cianotipia en Tela 1"
            />
            <!-- Modal 1-->
            <div
              class="modal fade"
              id="CianotipiaTela1"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Cianotipia en Tela
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                      Rerum placeat beatae ad sit incidunt.
                    </li>
                    <div>Valor: $12.000</div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <img
              src="media/cianotipia19.jpg"
              class="img-fluid"
              data-bs-toggle="modal"
              data-bs-target="#CianotipiaTela2"
              alt="Cianotipia en Tela 2"
            />
            <!-- Modal 2-->
            <div
              class="modal fade"
              id="CianotipiaTela2"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Cuaderno con tapa en Cianotipia y encuadernación Copta.
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Molestiae, pariatur veritatis debitis est quo, adipisci
                      nihil sint similique, magni facere laborum saepe ad
                      quibusdam facilis aperiam officia dignissimos quod.
                      Deserunt!
                    </li>
                    <div>Valor: $12.000</div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- TOTEBAGS XD -->

      <div class="container">
        <h5>ToteBags</h5>
      </div>
      <!-- MODAL -->
      <div class="container-img">
        <div class="row">
          <div class="col-md-4">
            <img
              src="media/cianotipia15.jpg"
              class="rounded float-start"
              data-bs-toggle="modal"
              data-bs-target="#modalTOTEBAGS1"
              alt="TOTEBAGS1"
            />
            <!-- Modal 1-->
            <div
              class="modal fade"
              id="modalTOTEBAGS1"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Encuadernación Francesa
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Possimus obcaecati dolor qui aut.
                    </li>
                    <div>Valor: $12.000</div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <img
              src="media/cianotipia20.jpg"
              class="img-fluid"
              data-bs-toggle="modal"
              data-bs-target="#modalTOTEBAGS2"
              alt="TOTEBAGS 2 "
            />
            <!-- Modal 2-->
            <div
              class="modal fade"
              id="modalTOTEBAGS2"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Cuaderno con tapa en Cianotipia y encuadernación Copta.
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Molestiae, pariatur veritatis debitis est quo, adipisci
                      nihil sint similique, magni facere laborum saepe ad
                      quibusdam facilis aperiam officia dignissimos quod.
                      Deserunt!
                    </li>
                    <div>Valor: $12.000</div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <img
              src="media/cianotipia21.jpg"
              class="rounded"
              data-bs-toggle="modal"
              data-bs-target="#modalTOTEBAGS3"
              alt="TOTEBAGS 3"
            />
            <!-- Modal 3-->
            <div
              class="modal fade"
              id="modalTOTEBAGS3"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Cuaderno con tapa en Cianotipia
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <li>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <div>Valor: $6.000</div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cerrar
                    </button>
                    <button type="button" class="btn btn-primary">
                      Añadir al Carro
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer">
        <article class="columna">
        <h2>Litorales Creaciones</h2>
        <img style="width:auto; height: 150px; border-radius:50%" src="media/logo1.jpg" alt="">
      </article>
      <article class="columna">
        <p>Pyme dedicada a la confección de productos artesanales ubicada en la V Región</p>
      </article>
        <article class="columna">
          <h3 class="titulo-columna">Contacto</h3>
          <ul>
            <li><a class="footerLink" href="">Instagram</a></li>
            <li><a class="footerLink" href="">Facebook</a></li>
            <li><a class="footerLink" href="">Twitter</a></li>
          </ul>
        </article>
        <article class="columna">
          <ul>
          <li><a class="footerLink" href="index.html">Inicio</a></li>
          <li><a class="footerLink" href="tecnicas.html">Técnicas</a></li>
          <li><a class="footerLink" href="galeria.html">Galeria</a></li>
          <li><a class="footerLink" href="tienda.html">Tienda</a></li>
          <li><a class="footerLink" href="login.html">Ingresar</a></li>
        </ul>
        </article>
      </div>
      <div class="footer"><p>Copyright © 2023 Litorales Creaciones</p></div>
    </footer>
    


    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
      integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
