{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

<title>Registro</title>

</head>
<body>
    
  <nav class="navbar navbar-expand-lg" style="background-color:midnightblue">
    <div class="container-fluid">
      <a class="navbar-brand" class="fs-3">Litorales Creaciones <img id="logo" src="{% static 'media/logo1.jpg' %}" alt="logoL"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tecnicas' %}">Técnicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'galeria' %}">Galería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'resumen' %}">Carro</a>
          </li>
          {% if perms.tienda.view_producto%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productosList' %}">Panel de Control</a>
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#"> Hola, {{request.user}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href ="{% url 'logout'%}"> Cerrar Sesión</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
          </li>
          {% endif %}
      </div>
    </div>
  </nav>

  <h1 class="titulo1">Crear una cuenta</h1>

<form action="registro" class="formulario" id="formulario" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  <!-- Grupo: Nombre -->
    <div class="formulario__grupo" id="grupo__nombre">
      <label for="nombre" class="formulario__label">Nombre</label>
      <div class="formulario__grupo-input">
        <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Juan Perez">
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El nombre no puede contener números, solo letras.</p>
    </div>

    <!-- Grupo: Contraseña -->
    <div class="formulario__grupo" id="grupo__password">
      <label for="password" class="formulario__label">Contraseña</label>
      <div class="formulario__grupo-input">
        <input type="password" class="formulario__input" name="password" id="password">
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
    </div>

    <!-- Grupo: Contraseña 2 -->
    <div class="formulario__grupo" id="grupo__password2">
      <label for="password2" class="formulario__label">Repetir Contraseña</label>
      <div class="formulario__grupo-input">
        <input type="password" class="formulario__input" name="password2" id="password2">
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
    </div>

    <!-- Grupo: Correo Electronico -->
    <div class="formulario__grupo" id="grupo__correo">
      <label for="correo" class="formulario__label">Correo Electrónico</label>
      <div class="formulario__grupo-input">
        <input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
    </div>

    <!-- Grupo: Teléfono -->
    <div class="formulario__grupo" id="grupo__telefono">
      <label for="telefono" class="formulario__label">Teléfono</label>
      <div class="formulario__grupo-input">
        <input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="987367283">
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div>
      <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
    </div>

    <!-- Grupo: Terminos y Condiciones -->
    <div class="formulario__grupo" id="grupo__terminos">
      <label class="formulario__label">
        <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
        Acepto los Terminos y Condiciones
      </label>
    </div>

    <div class="formulario__mensaje" id="formulario__mensaje">
      <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
    </div>

    <div class="formulario__grupo formulario__grupo-btn-enviar">
      <button type="submit" class="formulario__btn">Enviar</button>
      <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
    </div>
  
</form>




<footer>
  <div class="footer">
    <article class="columna">
    <h2>Litorales Creaciones</h2>
    <img style="width:auto; height: 150px; border-radius:50%" src="{% static 'media/logo1.jpg'%}" alt="">
  </article>
  <article class="columna">
    <p>Pyme dedicada a la confección de productos artesanales ubicada en la V Región</p>
  </article>
    <article class="columna">
      <h3 class="titulo-columna">Contacto</h3>
      <ul>
        <li><a class="footerLink" href="">Instagram</a></li>
        <li><a class="footerLink" href="">Facebook</a></li>
        <li><a class="footerLink" href="">Twitter</a></li>
      </ul>
    </article>
    <article class="columna">
      <ul>
      <li><a class="footerLink" href="index">Inicio</a></li>
      <li><a class="footerLink" href="tecnicas">Técnicas</a></li>
      <li><a class="footerLink" href="galeria">Galeria</a></li>
      <li><a class="footerLink" href="catalogo">Tienda</a></li>
      <li><a class="footerLink" href="login">Ingresar</a></li>
    </ul>
    </article>
  </div>
  <div class="footer"><p>Copyright © 2023 Litorales Creaciones</p></div>
</footer>


<script>
  const formulario = document.getElementById('formulario');
  const inputs = document.querySelectorAll('#formulario input');
  
  
  /*----------- Expresiones regulares para validaciones ------------*/
  
  const expresiones = {
  
    nombre: /^[a-zA-ZÀ-ÿ\s]{1,40}$/, // Letras y espacios, pueden llevar acentos.
    password: /^.{4,12}$/, // 4 a 12 digitos.
    correo: /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/,
    telefono: /^\d{7,14}$/ // 7 a 14 numeros.
  }
  
  const campos = {
    nombre: false,
    password: false,
    correo: false,
    telefono: false
  }
  
  const validarFormulario = (e) => {
    switch (e.target.name) {
      case "nombre":
        validarCampo(expresiones.nombre, e.target, 'nombre');
      break;
      case "password":
        validarCampo(expresiones.password, e.target, 'password');
        validarPassword2();
      break;
      case "password2":
        validarPassword2();
      break;
      case "correo":
        validarCampo(expresiones.correo, e.target, 'correo');
      break;
      case "telefono":
        validarCampo(expresiones.telefono, e.target, 'telefono');
      break;
    }
  }
  
  const validarCampo = (expresion, input, campo) => {
    if(expresion.test(input.value)){
      document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-incorrecto');
      document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-correcto');
      document.querySelector(`#grupo__${campo} i`).classList.add('fa-check-circle');
      document.querySelector(`#grupo__${campo} i`).classList.remove('fa-times-circle');
      document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.remove('formulario__input-error-activo');
      campos[campo] = true;
    } else {
      document.getElementById(`grupo__${campo}`).classList.add('formulario__grupo-incorrecto');
      document.getElementById(`grupo__${campo}`).classList.remove('formulario__grupo-correcto');
      document.querySelector(`#grupo__${campo} i`).classList.add('fa-times-circle');
      document.querySelector(`#grupo__${campo} i`).classList.remove('fa-check-circle');
      document.querySelector(`#grupo__${campo} .formulario__input-error`).classList.add('formulario__input-error-activo');
      campos[campo] = false;
    }
  }
  
  const validarPassword2 = () => {
    const inputPassword1 = document.getElementById('password');
    const inputPassword2 = document.getElementById('password2');
  
    if(inputPassword1.value !== inputPassword2.value){
      document.getElementById(`grupo__password2`).classList.add('formulario__grupo-incorrecto');
      document.getElementById(`grupo__password2`).classList.remove('formulario__grupo-correcto');
      document.querySelector(`#grupo__password2 i`).classList.add('fa-times-circle');
      document.querySelector(`#grupo__password2 i`).classList.remove('fa-check-circle');
      document.querySelector(`#grupo__password2 .formulario__input-error`).classList.add('formulario__input-error-activo');
      campos['password'] = false;
    } else {
      document.getElementById(`grupo__password2`).classList.remove('formulario__grupo-incorrecto');
      document.getElementById(`grupo__password2`).classList.add('formulario__grupo-correcto');
      document.querySelector(`#grupo__password2 i`).classList.remove('fa-times-circle');
      document.querySelector(`#grupo__password2 i`).classList.add('fa-check-circle');
      document.querySelector(`#grupo__password2 .formulario__input-error`).classList.remove('formulario__input-error-activo');
      campos['password'] = true;
    }
  }
  
  inputs.forEach((input) => {
    input.addEventListener('keyup', validarFormulario);
    input.addEventListener('blur', validarFormulario);
  });
</script>

<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>


</body>
</html>