{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400&display=swap" rel="stylesheet">
    <title>Litorales Creaciones</title>


</head>
<body>

  <nav class="navbar navbar-expand-lg" style="background-color:midnightblue">
    <div class="container-fluid">
      <a class="navbar-brand" class="fs-3">Litorales Creaciones <img id="logo" src="{% static 'media/logo1.jpg' %}" alt="logoL"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'tecnicas' %}">Técnicas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'galeria' %}">Galería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'resumen' %}">Carro</a>
          </li>
          {% if perms.tienda.view_producto%}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productosList' %}">Listado</a>
          </li>
          {% endif%}
        {% if request.user.is_authenticated%}
        <li class="nav-item">
          <a  class="nav-link" href="{% url 'logout' %}">cerrar sesión</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login'%}">Iniciar sesión</a>
        </li>
        {% endif%}
        </ul>
      </div>
    </div>
  </nav>

<h1 class="titulo1">Resumen Carro</h1>

<div class="alert alert-primary" role="alert" style="margin: 20px">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col" style="color:black">NOMBRE</th>
              <th scope="col" style="color:black">PRECIO</th>
              <th scope="col" style="color:black">CANTIDAD</th>
          </tr>
      </thead>
      <tbody>
      {% if request.session.carrito.items %}
      {% for key, value in request.session.carrito.items %}
      <tr>
          <td scope="col">{{value.nombre}}</td>
          <td scope="col">{{value.total}}</td>
          <td scope="col">{{value.cantidad}}</td>
              
          
      </tr>
      {% endfor %}
      {% else %}
      <tr>
      <td colspan="4">
          <div class="alert alert-danger text-center"> Sin Productos </div>
      </td>
      </tr>
      {% endif %}
      <tr>
          <th scope="row" style="color:black">Total:</th>
          <td colspan="2" style="color:black">$ {{total_carrito}}</td>
      </tr>
      </tbody>
  </table>
      </div>
      <div class="row text-center">
          <div class="col-4"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
          <div class="col-4"><a href="catalogo" class="btn btn-primary">Volver a catalogo</a></div>
          <div class="col-4"><a href="#" class="btn btn-success">Pagar</a></div>
      </div>

<br>
<br>
<br>

<footer>
    <div class="footer">
      <article class="columna">
      <h2>Litorales Creaciones</h2>
      <img style="width:auto; height: 150px; border-radius:50%" src="{% static 'media/logo1.jpg'%}" alt="">
    </article>
    <article class="columna">
      <p>Pyme dedicada a la confección de productos artesanales ubicada en la V Región</p>
    </article>
      <article class="columna">
        <h3 class="titulo-columna">Contacto</h3>
        <ul>
          <li><a class="footerLink" href="">Instagram</a></li>
          <li><a class="footerLink" href="">Facebook</a></li>
          <li><a class="footerLink" href="">Twitter</a></li>
        </ul>
      </article>
      <article class="columna">
        <ul>
        <li><a class="footerLink" href="index">Inicio</a></li>
        <li><a class="footerLink" href="tecnicas">Técnicas</a></li>
        <li><a class="footerLink" href="galeria">Galeria</a></li>
        <li><a class="footerLink" href="catalogo">Tienda</a></li>
        <li><a class="footerLink" href="login">Ingresar</a></li>
      </ul>
      </article>
    </div>
    <div class="footer"><p>Copyright © 2023 Litorales Creaciones</p></div>
</footer>
  

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
    integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
    crossorigin="anonymous"></script>

  </body>
</html>